html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.background {
    display: block;
    height: 100%;
    width: 100%;
    background-image: url('./assets/image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;

}

.form {
    display: flex;
    flex-direction: column;
    font-family: "Jersey 10";
    backdrop-filter: blur(7px);
    background-color: rgba(255, 255, 255, 0.4); /* semi-transparent */
    width: 60vw;
    height: 500px;
    margin: auto;
    text-align: center;
}

.form h1 {
    margin-top: 150px;
    margin-bottom: 0;
    font-size: 50px;
}

.form input {
    align-self: center;
    height: 40px;
    width: 140px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid black;
}

.c-1 {
    display: flex;
    justify-content: center;
}

.send {
    padding: 20px;
    border-style: none;
    background: none;
}

.send:active {
  transform: translateY(4px);
}

.send:hover {
    cursor: pointer;
}
