html, body {
    height: 100%;
    font-family: "Jersey 10";

}

body {
  background-image: url('./assets/image.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: right;

}

p {
    margin: 0;
}

#whoami {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    margin: 0;
    padding: 0;
    
}

#whoami button {
    margin: 20px;
    width: 160px;
    border-radius: 10px;
    color: none;
    background: none;
    border: none;
}



#whoami button:hover {
    backdrop-filter: blur(7px);
    background-color: rgba(255, 255, 255, 0.4);
}

#whoami button:active {
  transform: translateY(4px);
}

#whoami-window {
    position: absolute;
    width: 540px;
    height: 250px;
    background-color: ivory;
    border-radius: 4px;
    text-align: left;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
}


#whoami-window p {
    margin-top: 20px;
    margin: 5px;
}

#whoami-close {
    margin: 1px;
    color: none;
    background: none;
    border: none;
}



.navbar {
    width: 100%;
    background-color: rgb(204, 204, 204);
    height: 30px;
    /* margin-bottom: 6px; */
}

#passions {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    margin: 0;
    padding: 0;

}

#passions-window {
    overflow: scroll;
    position: absolute;
    width: 540px;
    height: 250px;
    background-color: ivory;
    border-radius: 4px;
    text-align: left;
    font-family: "Nunito", sans-serif;
    font-size: 18px;

}



#passions-window p {
    margin-top: 20px;
    margin: 5px;
}

#passions-close {
    margin: 1px;
    color: none;
    background: none;
    border: none;
}

#passions button {
    margin: 20px;
    width: 160px;
    border-radius: 10px;
    color: none;
    background: none;
    border: none;
}


#passions button:hover {
    backdrop-filter: blur(7px);
    background-color: rgba(255, 255, 255, 0.4);
}

#passions button:active {
  transform: translateY(4px);
}

#passions-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}


.note-titles {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 10px;
    margin-left: 4px;
    padding-right: 4px;
    height: 100%;
    border-right: 1px solid rgb(215, 215, 215);
}



#title-box1, #title-box2, #title-box3 {
    width: 90px;
    height: 50px;
    background-color: rgb(215, 215, 215);
    text-align: center;
    border-radius: 5px;
    border: none;
    align-self: center;
    margin: 2px 0 2px 5px;
    font-family: "Nunito", sans-serif;
    font-size: 15px;

}



.note-container {
    display: flex;
    flex-direction: row;
}


.note-1 {
    width: 100%;
    margin: 0;
    padding: 10px 0px 0px 15px;
    /* background-image: url('./assets/paper.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.note {
    background-size: cover;
    background-repeat: no-repeat;
}


.line {
    width: 80px;
    height: 0.5px;
    margin: 0.5px;
    background-color: rgb(160, 160, 160);
    align-self: center;
}

#title-box1:active, #title-box2:active, #title-box3:active {
  background-color: rgb(168, 167, 167);
}


#title-box1:focus, #title-box2:focus, #title-box3:focus {
  /* background-color: rgb(211, 190, 190); */
  background-image: url('./assets/star.png');
  background-color:whitesmoke;
  /* background-image: url('./assets/gradient.png'); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
